/*
|--------------------------------------------------------------------------
| #THEME
|--------------------------------------------------------------------------
*/

.container {
    max-width:60%;

    @media screen and (max-width:1440px) {
        max-width:80%;
    }

    @media screen and (max-width:48rem) {
        max-width:100%;
    }

    img {
        max-width:100%;
    }

    p {
        font-size:.9rem;
        line-height:1.7rem;
    }
}

.container--full {
    max-width:100%;
}

body {
    background:url('../img/site-bg.jpg');
    background-size:cover;
    background-attachment:fixed;
}

.drop {
    position:relative;

    img {
        margin-bottom:1rem;
    }

    &:before {
        content:"";
        position:absolute;
        width:50px;
        height:3px;
        top:15px;
        left:-56px;
        background-color:$secondary;
    }

    &:after {
        content:"";
        position:absolute;
        width:50px;
        height:3px;
        top:15px;
        right:-56px;
        background-color:$secondary;
    }
}




// #HEADER
// =========================================================================

.header {

    &__container {
        background-color:#2e3841;

        @media screen and (max-width:48rem) {
            padding:0;
            margin-bottom:-1rem;
        }

        .header-bar {
            display:flex;
            justify-content:space-between;
            width:100%;

            a {
                color:$font-color;
                font-size:.9rem;
                padding:.75rem 1.5rem;
                transition:all .2s ease;

                &:hover {
                    color:white;
                }
            }

            .header-contact {
                display:flex;

                @media screen and (max-width:32rem) {
                    flex-direction:column;

                }

                i {
                    margin-right:.75rem;
                }
            }
        }

        .nav {
            box-shadow:0px 1px 3px #ccc;
            transition:all .5s ease;
            
            @media screen and (max-width:48rem) {
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding:0 3rem;
            }
            
            &__container {
                display:flex;
                justify-content:space-between;
                align-items:center;
                width:100%;
                padding:1rem;

                img {
                    max-height:100px;

                    @media screen and (max-width:48rem) {
                        max-width:75px;
                    }
                }

                ul {
                    height:auto;
                    text-transform:uppercase;
                    font-weight:700;
                    transition:all .5s ease;

                    li {
                        padding:1rem;
                        position:relative;
                        transition:all .5s ease;

                        &:hover {
                            a {
                                color:$secondary;
                            }
                            
                            &:before {
                                content:"";
                                position:absolute;
                                width:100%;
                                height:5px;
                                top:-2.6rem;
                                left:0;
                                background-color:$secondary;

                                @media screen and (max-width:64rem) {
                                    top:-2.8rem;
                                }
                            }
                        }

                        a {
                            color:black;
                        }
                    }
                }
            }

            &.sticky {
                position:fixed;
                left:0;
                top:0;
                width:100%;

                .nav__container {
                    padding:3px;
                    padding-bottom:0;
                }

                li {
                    &:hover {
                        &:before {
                            content:"";
                            position:absolute;
                            width:100%;
                            height:5px;
                            top:-1rem;
                            left:0;
                            background-color:$secondary;

                            @media screen and (max-width:64rem) {
                                top:-1.2rem;
                            }
                        }
                    }
                }

                img {
                    max-width:75px;
                    padding:0;

                    @media screen and (max-width:48rem) {
                        max-width:50px;
                    }
                }
            }
        }
    }
}




// #HOME
// =========================================================================

.home {

    &__container {
        background-color:white;
        padding:2rem 1rem;

        .carousel {
            padding:0 1rem;
            position:relative;

            @media screen and (max-width:48rem) {
                margin-bottom:2rem;
            }

            .slick-arrow {
                position:absolute;
                z-index:10;
                background-color:rgba(250,250,250, 0);
                border:none;
                top:35%;
                transition:all .2s ease;

                &:hover {
                    i {
                        color:rgba(250,250,250,.5);
                    }
                }

                i {
                    transition:all .2s ease;
                    color:white;
                    font-size:5rem;
                    text-align:center;

                    @media screen and (max-width:32rem) {
                        font-size:3rem;
                    }
                }
            }

            .slick-next {
                right:2%;
            }

            .slick-previous {
                left:2%;
            }
        }

        .column-4 {
            background-color:#333;
            padding:0rem 1rem;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;

            @media screen and (max-width:64rem) {
                padding-bottom:1rem;
            }

            h3 {
                color:$primary;
                font-weight:900;
                font-size:2rem;
                margin-top:-.5rem;
                margin-bottom:0;

                @media screen and (max-width:64rem) {
                    margin-top:0;
                }

                @media screen and (max-width:48rem) {
                    margin-top:1rem;
                }
            }

            form {

                input, textarea {
                    background-color:rgba(255, 255, 255, 0.1);
                    border-color:rgba(255, 255, 255, 0);
                    transition:all .2s ease;
                    margin:.5rem 0;

                    &:hover {
                        border-color:white;
                    }

                    &:focus {
                        border-color:white;
                    }
                }

                textarea {
                    height:6rem;
                }

                button {
                    width:100%;
                    padding:1rem;

                    &:hover {
                        background-color:$secondary;
                        border-color:$secondary;
                    }
                }
            }
        }
    }
}




// #ABOUT
// =========================================================================

.about {

    &__container {
        background-color:white;
        padding:2rem 1rem;
    }

    &-overview__container {

        .column-6 {
            display:flex;
            flex-direction:column;
            align-items:center;

            @media screen and (max-width:48rem) {
                margin-bottom:2rem;
            }

            h2 {
                text-transform:uppercase;
                font-size:2.15rem;
                text-align:center;
            }

            a {
                background-color:$secondary;
                border:none;
                padding:1rem 2rem;
                border-radius:5px;
                font-weight:600;
                transition:all .2s ease;

                &:hover {
                    background-color:$primary;
                    color:black;
                }
            }
        }
    }

    &-services__container {
        padding:2rem 0 0;

        .column-3 {
            display:flex;
            flex-direction:column;
            align-items:center;

            h4 {
                padding:2rem 1rem;
                font-weight:600;
                color:#333;
            }
        }
    }

    &-solutions__container {
        background-color:$primary;
        padding:2rem 0;
        display:flex;
        flex-direction:column;
        align-items:center;

        h3 {
            font-size:2.5rem;
            font-style:italic;
            font-weight:800;
            text-align:center;
        }

        p {
            color:#647886;
            font-size:1.5rem;
        }
    }
}




// #SERVICES
// =========================================================================

.services {

    &__container {
        background-color:white;

        @media screen and (max-width:48rem) {
            padding:0;
        }
    }

    &-details__container {
        background-image:url('../img/services-two.jpg');
        background-size:cover;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding:2rem 1rem 5rem;
        position:relative;

        .service {
            padding:.5rem;

            @media screen and (max-width:48rem) {
                display:flex;
                flex-direction:column;
                align-items:center;
            }
        }

        h2, h3, h4, p {
            color:white;
        }

        h2, h3 {
            text-transform:uppercase;
            font-size:2.15rem;
        }

        h3 {
            font-weight:600;
            margin-bottom:.5rem;
            margin-top:1rem;
            line-height:1rem;
        }

        h4 {
            font-size:.9rem;
            font-weight:800;
            line-height:1.5rem;
        }

        .drop {

            &:before {
                background-color:white;
            }
            &:after {
                background-color:white;
            }
        }

        svg {
            position:absolute;
            left:0;
            bottom:0;
            width:100%;
        }
    }

    &-solutions__container {
        padding:2rem 1rem;

        .content {
            padding:0 1rem;
            display:flex;
            flex-direction:column;
            align-items:center;

            h2, h4 {
                text-align:center;
            }

            h2 {
                text-transform:uppercase;
                font-size:2rem;
                margin-bottom:0;
            }

            h4 {
                font-size:.9rem;
            }

            .drop {

                img {
                    margin-bottom:0;
                }
            }
        }
    }

    &-gallery__container {
        padding:2rem 1rem 4rem;
    }
}




// #CONTACT
// =========================================================================

.contact {

    &__container {
        background-image:url('../img/contact-bg-1.jpg');
        background-size:cover;
        padding:5rem 1rem;
        display:flex;
        flex-direction:column;
        align-items:center;

        h2, h3 {
            color:white;
        }

        h2 {
            text-transform:uppercase;
            font-size:2.15rem;
            font-weight:600;
        }

        h3 {
            font-size:1rem;
            font-weight:300;
            letter-spacing:.25rem;
        }

        form {
            width:100%;
        }

        .form__container {
            @media screen and (max-width:32rem) {
                padding:0;
            }
        }

        input, button {
            width:100%;
            color:white;
        }

        textarea {
            border:1px solid white;
            color:white;
            min-height:150px;

            &:hover {
                border:1px solid white;
            }

            &:focus {
                border:1px solid white;
            }
        }

        button {
            display:flex;
            align-items:center;
            justify-content:space-between;
            background-color:$secondary;
            padding:1rem;
            border:none;
        }

        .fields {
            display:flex;
            flex-direction:column;
            padding:0;

            @media screen and (max-width:48rem) {
                margin-bottom:.5rem;
            }

            .field {
                display:flex;
                align-items:center;
                border:1px solid white;

                input {
                    border:none;
                    padding:.5rem;
                }

                i {
                    font-size:1.5rem;
                    padding:.5rem;
                    padding-left:1.5rem;
                    color:white;
                }
            }
        }
    }

    &-methods__container {
        padding:4rem 1rem 0;
        width:100%;

        .column-4 {
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:flex-start;
            color:white;
            text-align:center;

            img {
                max-height:30px;
                margin:1rem;
            }

            p {
                font-size:1.15rem;
            }
        }
    }
}




// #FOOTER
// =========================================================================

.footer {

    &__container {
        background-color:#1a1c27;
        padding:2rem;
        border-top:1px solid #292d3e;
        width:100%;
        display:flex;
        justify-content:space-between;

        @media screen and (max-width:32rem) {
            text-align:center;
            justify-content:center;
        }

        p {
            margin-bottom:0;
            color:#48555e;

            @media screen and (max-width:32rem) {
                margin-bottom:1rem;
            }
        }

        a {
            color:#48555e;
            padding:0 1rem;

            &:hover {
                color:$secondary;
            }
        }
    }
}